/* リセットCSS */
* {
  box-sizing: border-box;
}
html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #8e8e8e;
  background-color: #f8f5f1;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: #8e8e8e;
}
/*/ リセットCSS /*/



/* ヘッダー */
.header {
  background-color: #f8e2cb;
  padding: 20px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
.inner {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.3em 1.6em;
  font-size: 0.8em;
  color: #ea9630;
  text-decoration: none;
  user-select: none;
  border: 1px #ea9630 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  height: 30px;
  text-align: center;
}
.nav__btn:hover{
  color: #fff;
  background: #ea9630;
}
/*/ ヘッダー /*/



/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
  padding-left: 40px;
}
.form__text {
  width: 600px;
  height: 100px;
  margin: 10px 0;
}
.field{
  margin: 10px 0;
}
.icon{
  width: 18px;
  height: 18px;
  margin: 4px 10px 0 0;
  filter: opacity(50%);
}
.icon2{
  width: 18px;
  height: 18px;
  margin: 0 10px 4px 0;
  filter: opacity(50%);
}
.form {
  width: 500px;
  margin: 60px auto;
  padding: 40px 40px 80px 40px;
  background-color: #f8f5f1;
  border-radius: 5px;
  box-sizing: border-box;
}
.form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.form__label {
  display: block;
  text-align: right;
  margin-bottom: 30px;
}
.form__input {
  float: left;
  width: 100%;
  padding: 3px 8px;
  box-sizing: border-box;
}
.form__input2 {
  float: left;
  width: 100%;
  padding: 3px 8px;
  box-sizing: border-box;
  height: 300px;
}
.form__field {
  margin-top: 30px;
  display: flex;
}
.form__field2 {
  margin: 50px 0 90px;
  display: flex;
}
.form__submit {
  margin: 50px 0 70px;
  padding-bottom: 100px;
}
select {
  width: 100px;
  height: 25px;
  padding-left: 5px;
  color: #8e8e8e;
  align-items: center;
  margin-bottom: 30px;
}
.friends {
  width: 400px;
  height: 125px;
}
/*/ フォーム周り /*/




/* カレンダー周り */
.month_name {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.calendar-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
/*/ カレンダー周り /*/




/* メイン */
.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: scroll;
}
.left{
  width: 250px;
  height: 100%;
  background-color: #f8f5f1;
}
.left-top{
  height: 150px;
  background-color: #f8f2e9;
  padding: 20px;
  border-bottom: solid #f4dbc1 1px;
}
.current_user{
  background-color: #f8f2e9;
  padding-bottom: 10px;
}
.left-bottom{
  background-color: #f6f6f6;
  height: calc(100vh - 150px);
  padding: 20px;
  overflow: scroll;
}
.left-bottom-title{
  margin-bottom: 20px;
}
.right{
  width: calc(100vw - 250px);
  height: 100%;
  background-color: #fff;
  padding: 20px;
  overflow: scroll;
}
.inner2 {
  padding: 20px;
  margin: 0 auto;
  width: calc(100vw - 250px);
}
.user{
  margin-bottom: 20px;
}
.user_link{
  text-decoration: none;
}
.user-img {
  width: 30px;
  height: 30px;
  border-radius:50%;
}
/*/ メイン /*/



/* ルーム一覧 */
.room-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}
.room-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}
.room-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}
.room-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
.room-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}
.room-img-content {
  position: relative;
}
.room-img {
  margin-top: 20px;
  width: 30vh;
  height: 30vh;
  border-radius: 5px;
}
.room-info {
  background-color: #FFF;
  color: #8e8e8e;
  padding: 1vw;
}
.room-name {
  font-size: 2.5vh;
  color: #8e8e8e;
}
/*/ ルーム一覧 /*/



/*  ルーム表示（カレンダー）ページ */
* {
  margin: 0;
  padding: 0;
}
.calendar-wrap {
  width: 900px;
  background: #eee;
  color: #8e8e8e;
  margin: 10px;
}
h1 {
  line-height: 100px;
  text-align: center;
  font-size: 30px;
}
.calendar {
  padding: 20px;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 150px;
}
th,td {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  font-weight: bold;
}
th {
  background-color: #f6f6f6;
}
td {
  font-weight: bold;
  height: 120px;
}
.sun {
  color: rgb(250, 130, 130);
}
.sat {
  color: rgb(151, 151, 251);
}
tbody {
  height: 700px;
}
.room_edit {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
/*/  ルーム表示（カレンダー）ページ /*/



/* 詳細ページ */
.post_image {
  margin-bottom: 40px;
}
.post-img{
  width: 20px;
  height: 20px;
  border-radius: 20%;
}
/*/ 詳細ページ /*/



/* コメント投稿 */
.comment_box {
  margin: 70px 0;
}
.comment_input{
  height: 50px;
  width: 500px;
  border: 1px #cecece solid;
  border-radius: 3px;
}
.nav__btn2{
  display: inline-block;
  vertical-align: top;
  padding: 0.3em 1.6em;
  font-size: 0.8em;
  color: #ea9630;
  text-decoration: none;
  user-select: none;
  border: 1px #ea9630 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  text-align: center;
  height: 50px;
}
.nav__btn2:hover{
  color: #fff;
  background: #ea9630;
}
/* //コメント投稿 */



/* ユーザーページ */
.user_profile_title{
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.user_profile{
  margin-bottom: 70px;
  display: flex;
  justify-content: left;
}
.under_line{
  margin-top: 15px;
  border-bottom: solid 1px #cecece;
  width: 70vw;
}
.user_image{
  margin: 30px 0 0 120px;
  border-radius: 50%;
  height: 30vh;
  width: 30vh;
}
/*/ ユーザーページ /*/



/* フッター */
.footer {
  background-color: #cecece;
  padding: 20px 0;
  width: 100%;
  position: absolute;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}
/*/ フッター /*/



/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}
/*/ タブレット対応 /*/


/* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}
/*/ スマホ表示 /*/